<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/header.css" type="text/css">
    <link rel="stylesheet" href="/public/css/artikl.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <%- include('partials/header.ejs') %>

<div class="main-wrap">
    <% artiklData.forEach((item) => { %>
        <div class="left">
            <div class="image-wrap">
                <img src="../public/assets/images/<%= item.artikl_image %>" class="image">
            </div>
        </div>
        
        
        
        <div class="right">

            <div class="right-inside">
                <div class="naslov"><%= item.naslov %></div>
                <div class="razred"><%= item.razred + ' razred ' + item.smjer%></div>
                <div class="razlog"><%= item.razlog %></div>
                <%if (item.cijena) { %>
                <div class="cijena"><%= item.cijena + ' KM'%></div>
                <% } %>
                <div class="stanje"><%= item.stanje %></div>
                <div class="opis"><%= item.opis %></div>

                <%if (favData.length > 0) { %>
                    <form action="/obrisi-fav-artikl" method="POST">
                        <button class="obrisi-fav" value="<%= item.artikl_id %>" type="submit" name="artikl_id"></button>
                    </form>
                <%} else {%>
                    <form action="/addToFav" method="POST">
                        <button class="dodaj-btn" value="<%= item.artikl_id %>" type="submit" name="artikl_id">DODAJ U FAVORITE</button>
                    </form>
                <%}%>
                
                <div class="user">
                        <% userData.forEach((item) => { %>
                    <div class="user-img-div"><img src="../public/assets/images/<%= item.user_image %>" class="user-img"></div>
                    <div class="user-info">
                        <div>
                            <ul class="user-ul">
                                <li class="user-name user-li"><%= item.name %></li>
                                <li class="user-li"><h4>Email</h4> <%= ': ' + item.email %></li>
                                <li class="user-li"><h4>Broj</h4> <%= ': ' + item.broj %></li>
                            </ul>
                        </div>
                        <div>
                            <%if (locals.session.loggedin) { %>
                            <form action="/send-email" method="POST">
                                <button class="poruka-btn" value="<%= item.email %>" type="submit" name="email">POŠALJI MAIL</button>
                            </form>
                        </div>
                             <% } %>
                        <% }) %>
                    </div>
                </div>
            </div>

        </div>
      <% }) %>
</div>

    <script src="/public/js/header.js"></script>
</body>
</html>